<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>About us</title>
  <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      <link rel="stylesheet" href="styles2.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container">
        <div class="card">
          <img src="a4.jpeg" alt="Person" class="card__image">
          <p class="card__name">SHIVA DUTT VVR</p>
          <p class = "text">Working as an intern at Kaar Technologies.</p>
          <p class = "text">Lazy but effective.</p>
          <div class="grid-container">
            
          </div>
         
          
      
        </div>
        <div class="card">
            <img src="b4.jpeg" alt="Person" class="card__image">
            <p class="card__name">THYAANESHWAR S</p>
            <p class = "text">Working as an intern at IBM.</p>
            <p class = "text">Glue that holds the group together.</p>
            
            
        
        </div>
          <div class="card">
            <img src="c4.jpeg" alt="Person" class="card__image">
            <p class="card__name">SRIVARSHAN S</p>
            <p class = "text">Got placed at LTI.</p>
            <p class = "text">No adjective is good enough.</p>
            
            
        
        </div>
    </div>

</body>
</html>
