

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Management System</title>
  <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'><link rel="stylesheet" href="./style.css">
<script src="https://kit.fontawesome.com/58c7678508.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- partial:index.partial.html -->
<div class = "topnav">
  <i class="fa-solid fa-video" style="color: white; font-size: 20px;"></i>
  Facial Recognition
</div>
<div class="blog-slider">
  
  <div class="blog-slider__wrp swiper-wrapper">
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        
        <img src="./patient.jpg" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code"></span>
        <div class="blog-slider__title">Patient Registration</div>
        <div class="blog-slider__text">Admits entry to the patient based on matching the registered face to the current face.</div>
        <a href="#" class="blog-slider__button">VISIT PAGE</a>
      </div>
    </div>
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="./employee.jpg" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code"></span>
        <div class="blog-slider__title">Employee Check-in & Check-out</div>
        <div class="blog-slider__text">Admits entry to the employee based on matching the registered face to the current face.</div>
        <a href="#" class="blog-slider__button">VISIT PAGE</a>
      </div>
    </div>
    
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="./emotion.jpg" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code"></span>
        <div class="blog-slider__title">Emotion-Recognition</div>
        <div class="blog-slider__text">Accurately identifies the current emotion of the patient to understand the problem</div>
        <a href="#" class="blog-slider__button">VISIT PAGE</a>
      </div>
    </div>
    
  </div>
  <div class="blog-slider__pagination"></div>
</div>
<div class = "bottomnav">
    <a class = "active" href = "#aboutus">About Us</a>
  <a href = "#linked">GitHub</a>
  <a href = "#linked">Linked in</a>
  
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script><script  src="./script.js"></script>

</body>
</html>
